<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camping.mapper.ReplyMapper">
	  <insert id="insert">
	      insert into reply(rno, vno, title, content, writer)
	      values(seq_reply.nextval, #{vno},#{title}, #{content},#{writer})
	  </insert>
	  
	  <select id="read" resultType="com.camping.domain.ReplyVO">
		select * from reply where rno = #{rno}
	</select>
	
	<delete id="delete">
	    delete from reply where rno = #{rno}
	</delete>
	  
	 <update id="update">
		update reply set title = #{title}, regDate = sysdate
		where rno = #{rno}
	</update> 
	
	<select id="getList" resultType="com.camping.domain.ReplyVO">
	   select rno, vno, title, content, writer, regDate from reply
	   where vno = #{vno}
	   order by rno asc
	</select>
	  
</mapper>