<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camping.mapper.ReviewMapper">
    <select id="getList" resultType="com.camping.domain.ReviewVO">
        select * from Review order by rno desc
    </select> 
    
    <insert id="insert">
		insert into review (rno, cno, title, content, writer,readCount)
		values (seq_review.nextval, ${cno}, #{title}, #{content}, #{writer},#{readCount})
	</insert>
	
	<insert id="insertSelectKey">
	      <selectKey keyProperty="rno" order="BEFORE" resultType="long">
	          select seq_review.nextval from dual
	      </selectKey>
	      
	      insert into review (rno, cno, title, content, writer, readCount)
	      values (#{rno},#{cno}, #{title}, #{content},#{writer}, #{readCount})
	</insert>
	
	<select id="read" resultType="com.camping.domain.ReviewVO">
	  select * from review where rno = #{rno}
	</select>
	
	<delete id="delete">
	   delete from review where rno = #{rno}
	</delete>
    
    <update id="update">
       update review
       set title = #{title},
       content = #{content},
       writer = #{writer},
       updateDate = sysdate,
       readCount = #{readCount}
       where rno = #{rno}
    </update>
    
</mapper>